<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('https://source.unsplash.com/atsUqIm3wxo')">
  <div class="my-container">
    <h1>Watch List</h1>
    <p><span id="banner-typed-text"></span></p>
    <div class="links">
      <%= link_to "Make your list now", new_list_path, class: "blue-btn" %>
      <a href="#my-card-container" class="green-btn">Browse existing lists</a>
    </div>
  </div>
</div>
<div id="my-card-container">
  <h1>Lists</h1>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-xs-12 col-md-4">
        <div class="card-category" data-aos="fade-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>')">
          <%= link_to list.name, list_path(list), id: 'list-name' %>
        </div>
      </div>
    <% end %>
    <div class="col-xs12 col-md-4">
      <div class="empty-card" data-aos="fade-in">
        <%= link_to new_list_path do %>
          <h3>Add a list</h3>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

