<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="basic-form">
        <h1 class="basic-title">Add a new list</h1>
        <%= render 'form', list: @list %>
      </div>
      <%= link_to 'back', lists_path %>
    </div>
  </div>
</div>
