.bookmark-form {
  background: $light-gray;
  padding: 24px;
  border-radius: 4px;
  margin-top: 24px;
}

.bookmark-form h1 {
  padding-right: 1.5em;
}

.bookmark-submit-btn {
  margin-top: 8px;
}

body {
  background: white;
}

.bookmark-title {
  padding-right: 0.75rem;
  padding-left: 1.25rem;
}
