.show-container {
  width: 100%;
  margin-top: 100px;
  text-align: center;

  a:hover {
    border: 1px solid black;
    color: black;
  }

  h1 {
    font-family: 'Lora', serif;
    margin-bottom: 16px;
  }
}

#form-container {
  margin-bottom: 300px;
}

.review-box {
  text-align: center;
  background-color: $pink;
  height: 48px;
  width: 400px;
  flex-grow: 1;
  margin: 24px 16px;
}

.reviews {
  margin-top: 100px;
  text-align: center;

  h1 {
    font-family: 'Lora', serif;
  }
}

.movie-form {
  margin-right: 16px;
  margin-left: 32px;
  flex-grow: 1;
}

.review-form {
  margin-right: 32px;
  margin-left: 16px;
  flex-grow: 1;
}
