.card-category {
  height: 300px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  margin-top: 100px;
}

#list-name {
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-align: center;
}

#my-card-container {
  padding-top: 100px;
  text-align: center;

  h1 {
    font-family: 'Lora', serif;
  }
}

html {
  scroll-behavior: smooth;
}
